#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  flex-wrap: wrap;
}

#tjm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tjm-input {
  background: var(--main-color);
  border: solid 1px var(--main-color);
  border-radius: 8px;
  height: 7px;
  width: 356px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

#tjm-input::-webkit-slider-thumb {
  -webkit-appearance: none; /* nécessaire pour Chrome */
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}

#new-fee {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

#footer {
  margin-top: 1em;
  color: var(--main-white);
  display: flex;
  justify-content: center;
}

.colored {
  color: var(--main-color);
}

.ml-4 {
  margin-left: 4em;
}

.strike-through {
  text-decoration: line-through;
  opacity: 0.5;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 2em;
}

.fees-table {
  max-height: 20vh;
}

.custom-input {
  background-color: #292E30;
  color: var(--main-color);
  border-color: var(--main-color);
}

.slider-value {
  color: var(--main-white);
  font-size: 1.5em;
}

.title {
  font-size: 4em;
  display: flex;
  justify-content: center;
}

.h-2 {
  height: 2em;
}
