<h1 id="title">
  <span class="colored">C</span>alculez votre bénéfice net
</h1>

<div id="main">
  <div id="amount">
    <h2 id="tjm-title">Renseignez votre TJM</h2>
    <div id="tjm">
      <div class="slider-value" id="tjm-value">{{ tjm }} €</div>
      <div>
        <input id="tjm-input" type="range" min="100" max="2000" value="650" [(ngModel)]="tjm"/>
      </div>
    </div>

    <h2 id="fee-title">Frais</h2>
    <div id="new-fee">
      <input class="custom-input" id="feeLabel-input" type="text" placeholder="Ajouter un frais" [(ngModel)]="newFeeLabel"/>
      <input class="custom-input" id="feeAmount-input" type="number" placeholder="Montant" [(ngModel)]="newFeeAmount"/>
      <button class="icon-button" id="add-fee" (click)="addFee()"><i class="fa fa-plus-circle"></i></button>
    </div>
    <div id="fees">
      <table id="fee-table" class="fees-table" style="color: whitesmoke">
        <tbody>
        <tr *ngFor="let fee of fees" style="height: 2em;" [ngClass]="{'strike-through': !fee.isActive}">
          <td style="width: 10em">{{ fee.feeLabel }}</td>
          <td style="width: 10em" class="colored">{{ fee.feeAmount | number:'1.0-0' }} €</td>
          <td>
            <button class="icon-button" (click)="deleteFee(fee)"><i class="fa fa-trash fa-lg"></i></button>
            <button class="icon-button" (click)="fee.isActive = !fee.isActive">
              <i *ngIf="fee.isActive" class="fas fa-ban fa-lg"></i>
              <i *ngIf="!fee.isActive" class="fas fa-check-circle fa-lg"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div id="fee-total">
        <h3 class="colored">Montant de frais total : {{ getTotalFee() | number:'1.0-0' }} €</h3>
      </div>
    </div>
  </div>

  <div id="result" style="color: whitesmoke">
    <div id="ca">
      <h2 id="ca-label">Chiffre d'affaire</h2>
      <h3 id="ca-value" class="colored">{{ getSalesFigures().toFixed(0) | number:'1.0-0' }} €</h3>
    </div>
    <div id="cf">
      <h2 id="cf-label">Charges</h2>
      <h3 id="cf-value" class="colored">{{ getTotalFee().toFixed(0) | number:'1.0-0' }} €</h3>
    </div>
    <div id="cs">
      <h2 id="cs-label">Charge sociale</h2>
      <h3 id="cs-value" class="colored">{{ getSocialSecurityCharges().toFixed(0) | number:'1.0-0' }} €</h3>
    </div>
    <div id="benefits">
      <h2 id="annual-benefits-label">Bénéfice annuel</h2>
      <h3 id="annual-benefits-value" class="colored">{{ getBenefits().toFixed(0) | number:'1.0-0' }} €</h3>
      <h2 id="monthly-benefits-label">Bénéfice mensuel</h2>
      <h3 id="monthly-benefits-value" class="colored">{{ (getBenefits() / 12).toFixed(0) | number:'1.0-0' }} €</h3>
    </div>
  </div>
</div>

<footer id="footer">
  <h3>Crée par Tom Walker</h3>
</footer>
